.jfx-tab-pane {
	-fx-background-color: #303F9F;
}
.jfx-tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: #303F9F;
}
.jfx-tab-pane .tab-header-area .headers-region .tab-selected-line {
	-fx-stroke: #4CAF50;
}

.jfx-text-field {

	-fx-focus-color: #4CAF50;
    -fx-unfocus-color: #303F9F;
}

.jfx-list-view .scroll-bar:horizontal .track,
.jfx-list-view .scroll-bar:vertical .track {
	-fx-background-color:transparent;
-fx-border-color:transparent;
-fx-background-radius: 0.0em;
-fx-border-radius:0em;
}

.jfx-list-view .scroll-bar:horizontal .increment-button ,
.jfx-list-view .scroll-bar:horizontal .decrement-button {
-fx-background-color:transparent;
-fx-background-radius: 0.0em;
-fx-padding:0.0 0.0 0.0 0.0;
}

.jfx-list-view .scroll-bar:vertical .increment-button ,
.jfx-list-view .scroll-bar:vertical .decrement-button {
-fx-background-color:transparent;
-fx-background-radius: 0.0em;
-fx-padding:0.0 0.0 0.0 0.0;
}
.jfx-list-view .scroll-bar .increment-arrow,
.jfx-list-view .scroll-bar .decrement-arrow{
-fx-shape:""; 
-fx-padding:0.0;
}

.jfx-list-view .scroll-bar:horizontal .thumb,
.jfx-list-view .scroll-bar:vertical .thumb {
-fx-background-color:transparent;
-fx-background-insets: 0.0, 0.0, 0.0;
-fx-background-radius: 0.0em;
}

.jfx-snackbar-content {
	-fx-background-color: #323232;
}

.jfx-snackbar-toast {
	-fx-text-fill: WHITE;	
}

.jfx-snackbar-action {
	-fx-text-fill: #ff4081;	
}